  <?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer>
      <handlers>
        <add name="iisnode" path="dist/app.js" verb="*" modules="iisnode"/>
      </handlers>
      <rewrite>
        <rules>
          <rule name="StaticFiles" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            </conditions>
            <action type="None" />
          </rule>
          <rule name="DynamicContent" stopProcessing="true">
            <match url=".*" />
            <action type="Rewrite" url="dist/app.js"/>
          </rule>
        </rules>
      </rewrite>
      <httpErrors existingResponse="PassThrough" />
      <iisnode 
        nodeProcessCommandLine="node.exe"
        watchedFiles="web.config;*.js"
        loggingEnabled="true"
        logDirectory="iisnode"
        debuggingEnabled="false"
        debugHeaderEnabled="false"
        debuggerPathSegment="debug" />
    </system.webServer>
  </configuration>
